<div class="main-grid" *ngIf="isReady; else notReady">
    <div class="add h-[5px] m-0 mb-10">
        <p class="text-center font-bold text-2xl">Создать</p>
        <div class="grid grid-cols-5">
            <input class="col-span-1 mr-3 outline-0 bg-cyan-200 p-2 rounded" type="text" placeholder="Имя" [(ngModel)]="adding.firstName">
            <input class="col-span-1 mr-3 outline-0 bg-cyan-200 p-2 rounded" type="text" placeholder="Фамилия" [(ngModel)]="adding.lastName">
            <input class="col-span-1 mr-3 outline-0 bg-cyan-200 p-2 rounded" type="text" placeholder="Отчество" [(ngModel)]="adding.middleName">
            <input class="col-span-1 mr-3 outline-0 bg-cyan-200 p-2 rounded" type="text" placeholder="Паспорт" [(ngModel)]="adding.pasportNumber">
            <button class="col-span-1 text-2xl py-2 bg-green-400 rounded-2xl hover:bg-yellow-300 transition duration-300 ease-in-out mb-3"
                    (click)="add()">Добавить</button>
        </div>
    </div>

    <div class="nav flex flex-col pl-3 pt-10">
        <p class="text-center font-bold text-3xl mb-3">Пользователь {{updating.id}}</p>
        <input class="mb-5 mx-3 text-2xl outline-0 bg-cyan-200 px-3 py-2 rounded" type="text" placeholder="Имя" [(ngModel)]="updating.firstName">
        <input class="mb-5 mx-3 text-2xl outline-0 bg-cyan-200 px-3 py-2 rounded" type="text" placeholder="Фамилия" [(ngModel)]="updating.lastName">
        <input class="mb-5 mx-3 text-2xl outline-0 bg-cyan-200 px-3 py-2 rounded" type="text" placeholder="Отчество" [(ngModel)]="updating.middleName">
        <input class="mb-5 mx-3 text-2xl outline-0 bg-cyan-200 px-3 py-2 rounded" type="text" placeholder="Отчество" [(ngModel)]="updating.pasportNumber">

        <button class="col-span-2 text-2xl py-2 bg-green-400 rounded-2xl hover:bg-yellow-300 transition duration-300 ease-in-out mb-3"
                (click)="update()">Изменить</button>
    </div>

    <div class="main">
        <div class="grid grid-cols-7 gap-4 table-grid-users font-bold my-3 bg-blue-100 px-2 rounded-2xl py-2 text-center">
            <div class="col-span-1">Id</div>
            <div class="col-span-1">Имя</div>
            <div class="col-span-1">Фамилия</div>
            <div class="col-span-1">Отчество</div>
            <div class="col-span-1">Паспорт</div>
        </div>

        <div *ngFor="let user of users" class="grid table-grid-users grid-cols-7 gap-4 px-2 rounded-2xl py-2  text-center">
            <div class="col-span-1">{{user.id}}</div>
            <div class="col-span-1">{{user.firstName}}</div>
            <div class="col-span-1">{{user.lastName}}</div>
            <div class="col-span-1">{{user.middleName}}</div>
            <div class="col-span-1">{{user.pasportNumber}}</div>

            <div class="cursor-pointer bg-contain bg-no-repeat bg-[url('img/delete.png')] h-[40px] w-[40px]" (click)="delete(user.id)">

            </div>
            <div class="cursor-pointer bg-contain bg-no-repeat bg-[url('img/arrow.png')] h-[40px] w-[40px]" (click)="toUpdate(user.id)">

            </div>
        </div>
    </div>
</div>

<ng-template #notReady class="container justify-center text-center">
    <p class="text-center font-extrabold text-7xl text-blue-600 mt-[300px]">Загрузка</p>
</ng-template>
